aiofiles==24.1.0
blinker==1.8.2
click==8.1.7
customtkinter==5.2.2
darkdetect==0.8.0
dbus-next==0.2.3
desktop-notifier==5.0.1
Flask==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
MarkupSafe==2.1.5
packaging==24.1
pillow==10.4.0
priority==2.0.0
pypng==0.20220715.0
qrcode==7.4.2
Quart==0.19.6
typing_extensions==4.12.2
Werkzeug==3.0.3
wsproto==1.2.0
